.navbar{
    align-items: center;
    flex-grow: 1;
    display: flex;
    background:'pink';
    flex-direction: row;
}
.menu-btn{
    padding-right: 0px;
    z-index: 1000;
    align-items: center;
    position: fixed;
}
.logo{
    padding-left: 100px;
}
.Spacer{
    flex-grow: 2;
}
.rightnav{
    gap:20px;
    align-items:center;
    display:flex;
    flex-direction:row;
    
}
.menu-list li{
    display:block;
    gap: 2px;
}
.header{
    float:left;
}
ul::-webkit-scrollbar {
    width: 7px;
  }
.menuContainer{
    display:block;
    background-color: white;
    justify-content: center;
}
.Search>input{
    width: 300px;
    background-color: white;
    outline: black;
}
.custom_link{
    color:black;
    text-decoration: none;
}
.custom_link:hover{
    color:white;
}
.product_button{
    background-color: transparent;
    border:none;
    margin:5px;
}

